
.dropbtn {
    background-color: blue;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: grab;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    cursor: grab;
}

.dropdown-content a:hover {background-color: grey;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: blue;}
h1{
    
    text-align: center;
    color :red;
    text-shadow: 2px 2px 4px blue;
    text-decoration: underline red;
}
.imgs{
    width: 32%;
    height: 16%;
    border: red 10px solid;
    
}
.fotos{
    padding: 5px 10px 5px 10px;
    margin: 2px;
    width: 500px;
    text-align: center;
    border: black 10px solid;
    
}
table {
    width: 50%;
    text-align: center;
 border-collapse: collapse;
 font-style: normal;
 background-color: bisque;
 }
 th, td {
    border: 1px solid royalblue;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 .link {
    color: blue;
  }
  
  .link:visited {
    color:green;
  }
 #argument {
    background-color: pink;
    color: red;
    float: left;
    font-family: monospace;
    font-size: 400%;
  }
  div.fotos {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
}

div.fotos:hover {
    border: 1px solid #777;
}

div.fotos img {
    width: 100%;
    height: auto;
}

div.fotos {
    padding: 15px;
    text-align: center;
}
div{
position: static;
clear:both;
text-align: justify;
}
h3{
    color: #000;
    font-weight: bold;
    text-align: left;
}
h2{
   color: #000;
    font-weight: bold;
    margin-left: 10%    
}
.ila {
    list-style-image: url('img/cara.png');
}
form{
    background-image:url('img/fondito.jpg');
    color:white; 
}
input[type=text] {
    width: 100%;
    border: 2px solid red;
    border-radius: 4px;
}
.pop{
    text-align: justify
}